<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoomx.zoomx">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".ui.request.RequestActivity"
            android:theme="@style/ZoomXAppTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".ui.requestdetails.RequestDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.response.BodyActivity"
            android:launchMode="singleTask" />

        <service android:name=".ui.menu.ZoomxMenuService" />

        <activity
            android:name=".ui.settings.SettingActivity"
            android:launchMode="singleTask"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="com.zoomx.zoomx">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>

        </provider>
    </application>

</manifest>