<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoomx.zoomx">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".ui.requestlist.RequestActivity"
            android:launchMode="singleTask"
            android:theme="@style/ZoomXAppTheme"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity
            android:name=".ui.requestdetails.RequestDetailsActivity"
            android:launchMode="singleTask"
            android:theme="@style/ZoomXAppTheme" />
        <activity
            android:name=".ui.requestdetails.JsonViewActivity"
            android:launchMode="singleTask"
            android:theme="@style/ZoomXAppTheme" />

        <service android:name=".ui.menu.ZoomxMenuService" />
        <service android:name=".ui.notification.ClearLogsIntentService" />

        <activity
            android:name=".ui.settings.SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/ZoomXAppTheme" />

        <provider
            android:name=".util.ZoomxFileProvider"
            android:authorities="com.zoomx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".ui.info.InfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/ZoomXAppTheme" />
        <activity android:name="com.zoomx.zoomx.ui.notification.ScreenShotActivity"
            android:theme="@style/no_display_activity"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".ui.notification.ScreenshotViewerActivity"/>
    </application>

</manifest>